<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stenowhisper</title>
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        form {
                float:left;
            }
        button {
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <!-- Stenowhisper Header -->
    <header class="bg-dark text-light text-center py-3">
        <h1 class="display-4">Stenowhisper</h1>
        <p class="lead">Transcribing tool for Stenographers</p>
    </header>

    <div class="container mt-5">
        <!-- Upload Audio File Form -->
        <h4 class="text-left mb-2">Upload Audio File</h4>
        <form id="upload-file-form" action="/upload" method="post" enctype="multipart/form-data">

            <!-- Compact File Input -->
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="audio_file" name="audio_file" aria-describedby="inputGroupFileAddon">
                    <label class="custom-file-label" for="audio_file">Choose Audio File</label>
                </div>
                <div class="text-center" style="margin-left: 5px;">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </form>

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Transcription Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.id }}</td>
                    <td>{{ file.name }}</td>
                    <td>{{ file.transcription_status or 'Not Transcribed' }}</td>
                    <td>
                        {% if file.transcription_status == 'Transcribed' %}
                            <form action="/file/{{ file.id }}" method="get">
                                <button type="submit" class="btn btn-success">View Transcription</button>
                            </form>
                            <form action="/transcribe" method="post">
                                <input type="text" id="transcribe_id" name="file-id" hidden value="{{ file.id }}">
                                <button type="submit" class="btn btn-secondary">Re-Transcribe</button>
                            </form>
                        {% elif file.transcription_status == 'Not Transcribed'  %}
                            <form action="/transcribe" method="post">
                                <input type="text" id="transcribe_id" name="file-id" hidden value="{{ file.id }}">
                                <button type="submit" class="btn btn-primary">Transcribe</button>
                            </form>
                        {% else %}
                            <form action="/file/{{ file.id }}" method="get">
                                <button type="submit" class="btn btn-primary">View informations</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS and Popper.js scripts (required for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>
